/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #4CAF50, #2196F3);
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

p {
  text-align: center;
  color: #ffffff;
}

input[type="file"] {
  margin: 20px auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
}

.selected-tag {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.selected-tag button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.selected-tag button:hover {
  color: #ff0000;
}
